{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{% block body %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- <img src="https://source.unsplash.com/1400x200/?businessman" class="d-block w-100" alt="..."> -->
            <img src="/static/ABOUT.jpeg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
<div class="">
    <center>
        <h1>About Us</h1>
        <img src="/static/dp.jpeg" alt="" height="155px" width="155px" style="border-radius: 50%;">
        <h5> <b>
                JOHN SHARMA <br>
                Founder & CEO of ABC Company <br>
                Entrepreneuer | Singer | YouTuber <br>
            </b>
        </h5>
    </center>
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor molestias commodi nam ullam optio nulla
        consequatur! Tempora nostrum fugiat, atque iure non deserunt odio! Aut labore repellat neque accusantium harum
        doloremque voluptate corporis magni aperiam sapiente nam, optio voluptas! Eveniet vel, veniam odit, neque
        tempore repellendus eius, illum rem quidem quis sit corporis commodi minima cum? Error beatae quo enim ex
        laboriosam voluptates cupiditate voluptas commodi labore, magnam culpa fugit voluptatem ullam, vitae optio iste
        et reprehenderit esse maxime soluta! Perferendis alias cumque harum, ratione eveniet ipsa. Laborum blanditiis
        recusandae maxime! Eaque quisquam nulla necessitatibus quo perferendis ea ducimus quaerat dolor? Alias
        necessitatibus sed architecto consequatur quod fugiat quisquam dolorum suscipit similique, quam, totam voluptas?
        Incidunt odio doloremque quisquam. Tempore praesentium aliquid facilis enim debitis qua error. Tempore
        hic minus, dolorum nulla magnam excepturi rerum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus aperiam possimus reiciendis aliquid sit consectetur eligendi ducimus reprehenderit sint asperiores rerum iste ipsam recusandae deleniti voluptas voluptate, quidem quibusdam! Aut rerum officiis assumenda saepe eos et, adipisci alias dolor rem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias distinctio obcaecati iusto tempore dolores sed accusamus eaque, sunt consectetur sint, sapiente delectus, quaerat eveniet id pariatur optio ullam dolorem beatae.</p>
</div>
{% endblock body %}