{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block body %}
<!-- Contact Form -->
<div class="container-fluid px-0">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/static/CONTACT.jpeg" class="d-block w-100" alt="...">
        </div>
    </div>

    <div class="container my-4">
        {% include 'message.html' %}
        <h1 class="text-center">Let's Connect</h1>
        <form method="post" action="/contact">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="John Doe" required>
                <br>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com"
                    required>
                <br>
            </div>

            <div class="form-group">
                <label for="desc">Tell us about yourself</label>
                <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
                <br>
            </div>
            <div class="form-group">
                <label for="query">Elaborate Your Concern</label>
                <textarea class="form-control" id="query" name="query" rows="3" required></textarea>
                <br>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>

    </div>

</div>
{% endblock body %}